/* Import Google font - Poppins */
body {
    margin: 0;
    background: linear-gradient(120deg, #f0f4f8, #d9e2ec);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(/static/images/bg.png);
}

.sidebar {
    height: 100%;
    width: 270px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: width 0.5s; /* Ensure width transition is smooth */
    padding-top: 0;
    z-index: 1000;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    color: white;
    margin-top: 10px;
}

.sidebar-logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.sidebar-text {
    flex-grow: 1;
}

#lockIcon {
    cursor: pointer;
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: large;
    color: rgb(255, 255, 255);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar a.logout {
    position: absolute;
    bottom: 80px;
    width: 100%;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar.collapsed a {
    text-align: center;
    padding: 15px 0;
}

.sidebar.collapsed a .menu-text {
    display: none;
}

.sidebar.collapsed .sidebar-text,
.sidebar.collapsed .sidebar-logo {
    display: none;
}

.sidebar.collapsed #lockIcon {
    display: none;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
    margin-left: 270px; /* Match initial sidebar width */
}

#main.sidebar-collapsed {
    margin-left: 60px;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar.collapsed .sidebar-logo {
    display: block; /* This will make the logo visible */
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin: auto; /* This will center the logo in the collapsed sidebar */
}

/* Add this to ensure the image is centered and visible */
.sidebar.collapsed .sidebar-header {
    justify-content: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.search-bar {
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    display: flex;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    padding: 10px;
    border: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.search-bar button:hover {
    background-color: #333;
}

.jumbotron {
    background-color:   #7ebcf9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th,
td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #000000;
    color: #ffffff;
}
table tr:hover {
    background-color: #f1f1f1;
}

/* Responsive Design */
@media (max-width: 768px) {

    .navbar p,
    .navbar a {
        font-size: small;
        padding: 8px 10px;
        line-height: 20px;
    }

    .content {
        margin-top: 60px;
    }
}

@media (max-width: 480px) {

    .navbar p,
    .navbar a {
        font-size: small;
        padding: 8px 10px;
        line-height: 20px;
    }

    .content {
        margin-top: 60px;
    }
}